<launch>
<!-- main entry point into entire system.
    - this will launch each of the components in order.
 -->
    <include file="$(find ros_c4arm)/launch/testing_setup.launch"/>
    <node name="place_counter" pkg="ros_c4arm" type="place_counter.py" output="screen"/>

    <include file="$(find ros_c4cv)/launch/test_yolo.launch"/>
    <!-- <node name="test_next_move_msg" pkg="ros_c4gameplay" type="test_next_move_msg.py" output="screen"/> -->
    <!-- <include file="$(find ros_c4gameplay)/launch/gameplay.launch"/> -->
    <!-- <include file="$(find c4_gui_pkg)/launch/gui.launch"/> -->

    <!-- <node name="game_controller" pkg="ros_c4" type="game_controller.py" output="screen"/> -->

</launch>